@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('./css/variables.css');

* {
	font-family: var(--SGFont);
	font-size: var(--SGTextAssetSize);
	color: white;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

p a {
	text-decoration: underline;
	color: var(--SGGreen);
}

p a:hover {
	color: var(--SGDarkGreen);
}

body {
	background-color: var(--SGBlack);
}

p {
	margin-bottom: 0;
}

h2.text-title {
	font-size: var(--SGTitleSize);
	color: var(--SGGreen);
	font-weight: 700;
}

p.details {
	font-size: var(--SGTextDetails);
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='date'],
input[type='time'],
textarea,
.form-select {
	border: 2px white solid;
	border-radius: 25px;
	background-color: var(--SGAlpha) !important;
	color: white !important;
}

::-webkit-calendar-picker-indicator {
	filter: invert(1);
}

textarea {
	height: 120px !important;
}

input[type='text']:focus,
input[type='email']:focus,
input[type='password']:focus,
input[type='date']:focus,
input[type='time']:focus {
	background-color: var(--SGAlpha);
	color: white !important;
}

input[type='text']::placeholder,
input[type='email']::placeholder,
input[type='password']::placeholder,
input[type='date']::placeholder,
input[type='time']::placeholder {
	color: white;
}

.form-select option {
	background-color: var(--SGBlack);
}

hr {
	color: grey;
}
