@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

.material-symbols-outlined {
	font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}

:root {
	--SGGreen: #01d95e;
	--SGDarkGreen: #1e874b;
	--SGBlack: #171921;
	--SGAlpha: rgba(0, 0, 0, 0);
	--SGFont: 'Open Sans', sans-serif;
	--SGTitleSize: 1.5em;
	--SGTextAssetSize: 1em;
	--SGTextSize: 1em;
	--SGTextDetails: 0.75em;
}

* {
	font-family: var(--SGFont);
	font-size: var(--SGTextAssetSize);
	color: white;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

body {
	background-color: var(--SGBlack);
}

p {
	margin-bottom: 0;
}

h2.text-title {
	font-size: var(--SGTitleSize);
	color: var(--SGGreen);
	font-weight: 700;
}

p.details {
	font-size: var(--SGTextDetails);
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='date'],
input[type='time'],
.form-select {
	border: 2px white solid;
	border-radius: 25px;
	background-color: var(--SGAlpha);
	color: white;
}

::-webkit-calendar-picker-indicator {
	filter: invert(1);
}

input[type='text']:focus,
input[type='email']:focus,
input[type='password']:focus,
input[type='date']:focus,
input[type='time']:focus {
	background-color: var(--SGAlpha);
	color: white;
}

input[type='text']::placeholder,
input[type='email']::placeholder,
input[type='password']::placeholder,
input[type='date']::placeholder,
input[type='time']::placeholder {
	color: white;
}

.form-select option {
	background-color: var(--SGBlack);
}

hr {
	color: grey;
}
