@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

.material-symbols-outlined {
	font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}

:root {
	--SGGreen: #01d95e;
	--SGDarkGreen: #1e874b;
	--SGBlack: #171921;
	--SGAlpha: rgba(0, 0, 0, 0);
	--SGFont: 'Open Sans', sans-serif;
	--SGTitleSize: 1.5em;
	--SGTextAssetSize: 1em;
	--SGTextSize: 1em;
	--SGTextDetails: 0.75em;
}

* {
	font-family: var(--SGFont);
	font-size: var(--SGTextAssetSize);
	color: white;
	box-sizing: border-box;
}

body {
	background-color: var(--SGBlack);
}

p {
	margin-bottom: 0;
}

h2.text-title {
	font-size: var(--SGTitleSize);
	color: var(--SGGreen);
	font-weight: 700;
}

nav.bg-dark {
	background-color: var(--SGGreen) !important;
}

.navbar-toggler .navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler.navbar-toggler {
	border-color: var(--SGAlpha);
}

.navbar-nav {
	--bs-nav-link-color: white;
}

.btn-close {
	background: transparent
		url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e")
		center/1em auto no-repeat;
	color: white;
	opacity: 1;
}

.offcanvas.offcanvas-top {
	height: 100%;
}

.offcanvas-body,
.offcanvas-header {
	background-color: var(--SGGreen);
	color: white;
	font-size: var(--SGTextAssetSize);
	font-weight: 700;
}

.offcanvas-body li {
	font-size: var(--SGTitleSize);
}

input[type='text'],
input[type='email'],
input[type='password'],
.form-select {
	border: 2px white solid;
	border-radius: 25px;
	background-color: var(--SGAlpha);
	color: white;
}

input[type='text']:focus,
input[type='email']:focus,
input[type='password']:focus {
	background-color: var(--SGAlpha);
	color: white;
}

input[type='text']::placeholder,
input[type='email']::placeholder,
input[type='password']::placeholder {
	color: white;
}

.form-select option {
	background-color: var(--SGBlack);
}

.btn-primary {
	background-color: var(--SGGreen);
	border: var(--SGGreen);
	font-size: var(--SGTextAssetSize);
	font-weight: 700;
	border-radius: 25px;
	padding: 12px 0px;
}

.btn-primary:hover {
	background-color: var(--SGDarkGreen);
}

.btn-secondary {
	background-color: var(--SGAlpha);
	border: var(--SGGreen) 2px solid;
	font-size: var(--SGTextAssetSize);
	font-weight: 700;
	color: var(--SGGreen);
	border-radius: 25px;
	padding: 12px 00px;
}

.btn-secondary:hover {
	background-color: var(--SGDarkGreen);
	border: var(--SGDarkGreen) 2px solid;
}

.btn-secondary.btn-white {
	border: white 2px solid;
	color: white;
}

.btn-secondary.btn-white:hover {
	background-color: white;
	border: white 2px solid;
	color: var(--SGBlack);
}

.bg-img {
	background-image: url('./images/sharego-icon.png'),
		url('./images/sharego-icon.png');
	background-repeat: no-repeat, no-repeat;
}
